main {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-areas:
      " text text .";
    grid-template-columns: 1fr 1fr 1fr ;
    
}
p{
    grid-area: text;
}

@media screen and (max-width:800px){
    main {
        grid-template-areas:
          " text text text";
        grid-template-columns: 1fr 1fr 1fr ;
        
    }
}